<%- include('./partials/head'); %>

<section>
   
    <div class="row justify-content-center">
        <% for(var i=0; i < product.length; i++) { %>
        <div class="col-sm-4 mt-5">
            <a href="/product/<%= product[i].product_id %>">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="<%= product[i].image %>" alt="Card image cap">
                    <h5 class="card-title">HOODIES</h5>
                    <hr>
                    <span>ICONIC</span>
                    <h5 class="card-title"><%= product[i].unit_price %></h5>
                </div>
            </div>
        </a>
        </div>
        <% } %>
    </div>
</section>
    

<%- include('./partials/footer'); %>