<%- include('./partials/head'); %>

<div class="bg-white border rounded py-4 px-0 shadow
            col-sm-12 col-lg-10
            offset-sm-0 offset-lg-1
            ">
    <div class="px-4">
        <div class="pt-4 px-5 col-sm-12">
            <h1><i class="fas fa-shopping-cart pr-2" style="font-size: 28px;"></i> Cart</h1>
            <div class="row">
                <div class="col-6 pt-2">
                    <h5 class="text-secondary font-italic pl-4">Order Summary</h5>
                </div>
                <div class="col-6 pt-2">
                    <p class="text-right" style="font-size: 15px;"><%= product.length %> Items</p>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------CART LIST ITEMS START---------------------------->
    <div class="bg-light border-top border-bottom py-4 px-5">
     <% if(product.length){ %>   
        <% for(var x = 0; x < product.length; x++){ %>
            <!--ITEM CARD-->
            <div class="bg-white border rounded col shadow-sm pb-4 mb-3">
                <div class="row">
                    <div class="col border-bottom">
                        <div class="row">
                            <div class="p-3 pt-0 col-sm-6 col-md-4 col-xl-4
                            offset-sm-3 offset-md-0">
                                <!--IMG UI-->
                                <div>
                                    <figure class="view overlay rounded z-depth-1 main-img">                                    
                                        <img src="<%= product[x].image %>" class="img-fluid z-depth-1 border rounded ">
                                    </figure>
                                </div>
                            </div>

                            <!--ITEM DETAILS-->
                            <div class="py-4 px-3 col-sm-12 col-md-8 col-xl-8 ">
                                <h2><%= product[x].name %></h2>
                                <div class="row pb-1">
                                    <div>
                                        <h5 class="text-secondary font-italic pl-4"><%= product[x].type %></h5>
                                    </div>
                                    <div class="pr-4 col text-right"> 
                                        <span class="font-weight-bold" style="font-size: 14px;">Price: </span>
                                        <span class="ml-3 mr-2" style="font-size: 20px;">₱ <%= product[x].unit_price %>.00</span>
                                    </div>
                                </div>
                                <div class="rounded-top bg-light p-3 pl-4 border mb-3
                                            col-12">
                                </div>
                                
                                <span class="font-weight-bold">Size:</span>

                                <div class="col px-3 pt-2 m-0 btn-group  btn-group-toggle rounded-bottom" 
                                    role="group" aria-label="Basic example" data-toggle="buttons">
                                    
                                    <button type="button" class="btn btn-light border active" data-bs-toggle="button" value="Shoes">
                                        <%= product[x].size %>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="py-0 px-3
                                col-sm-12 col-md-12 m-0">
                        <div class="bg-light p-3 rounded-bottom mb-4">
                            <div class="row">
                                <div class="col-6 pt-2 text-right">
                                    <span class="font-weight-bold" style="font-size: 16px;">Quantity: </span>
                                    <span class="ml-3 text-right" style="font-size: 20px;"><%= product[x].qty %> items</span>
                                </div>
                                <div class="col-6 text-right">
                                    <span class="font-weight-bold" style="font-size: 16px;">Total Price: </span>
                                    <span class="ml-3" style="font-size: 25px;">₱ <%= product[x].unit_price * product[0].qty %>.00</span>
                                </div>

                            </div>
                        </div>
                        <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="declineModalLabel">Are you sure you want to remove product?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                Are you sure you want to continue?
                                </div>
                                <div class="modal-footer">
                                <a href="/removeProduct?cart_id=<%= product[x].cart_id %>"><button type="button" class="btn btn-primary" style="background-color:red">Yes</button></a>
                                <a href="/cart"><button type="button" class="btn btn-primary" style="background-color:rgb(79, 79, 79)">Cancel</button></a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="text-right col-sm-12">
                            <button data-toggle="modal" data-target="#removeModal" type="button" class="btn btn-danger btn-md mr-1 mb-2 py-2 px-4  border shadow-sm"><i class="fas fa-shopping-cart pr-2 align-self-center"></i> Remove from Cart</button>    
                        </div>                    
                    </div>
                </div>
            </div>
        <% } %>
    <% }else{ %>
        <div class="alert alert-dismissible alert-primary">
            <strong>Cart is Empty</strong>
          </div>
    <% } %>
    </div>
    <!------------------------------------------CART LIST ITEMS END---------------------------->
        

    <div class="col-12 text-right pt-4 pr-5">
        <span class="font-weight-bold" style="font-size: 16px;">Total Price: </span>
        <span class="ml-3" style="font-size: 25px;">₱ .00</span>
    </div>
    <div class="">
    <form action="/checkout" method="POST">
        <input type="hidden" name="account_id" value="<%= id %>">
        <input type="hidden" name="totalQuantity" value="<%= product.length %>">
        <input type="hidden" name="totalAmount" value="10000.00">
        <% if(product.length <= 0){ %>
            <input type="submit" class="btn btn-light offset-2 col-8 mt-3 border" style="font-size: 22px;" value="Purchase" disabled>
        <% }else{ %>
            <input type="submit" class="btn btn-light offset-2 col-8 mt-3 border" style="font-size: 22px;" value="Purchase">
        <% } %>
    </form>
    </div>
</div>






<%- include('./partials/footer'); %>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>