<%- include('./partials/head'); %>
        <div class="row">
            <div class="col offset-3">
                <div class="card border-primary mb-3" style="max-width: 45rem;">
                   <center> <h1 class="card-header card-title">ORDER DETAILS</h1> </center>
                    <div class="card-body">
                        <h4 class="card-title">Name:</h4> 
                        <p class="card-text"><%= user.firstName %> <%= user.lastName %></p>
                        <h4 class="card-title">Address:</h4> 
                        <p class="card-text"><%= user.address %></p>
                        <h4 class="card-title">Phone Number:</h4> 
                        <p class="card-text"><%= user.phoneNumber %></p>
                        <h4 class="card-title">Email:</h4> 
                        <p class="card-text"><%= user.email %></p>
                        <h4 class="card-title">Total Quantity:</h4> 
                        <p class="card-text"><%= details.totalQuantity %> Item/s</p>
                        <h4 class="card-title">Total Amount Due:</h4> 
                        <p class="card-text">Php <%= details.totalAmount %>.00</p>

                        <div class="text-right col-sm-12">
                            <a href="/" type="button" class="btn bg-info btn-md mr-1 mb-2 py-2 px-4  border shadow-sm">Continue Shopping</a>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <%- include('./partials/footer'); %>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>